@font-face {
  font-family: "Alana";
  src: url("../fonts/alana.ttf");
}
@font-face {
  font-family: "Hypatia";
  src: url("../fonts/hypatia_sans_pro.otf");
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri.ttf");
}
@font-face {
  font-family: "Matrix";
  src: url("../fonts/matrix_iiot.ttf");
}
@font-face {
  font-family: "Mendel";
  src: url("../fonts/mendl_serif_dusk.ttf");
}
@font-face {
  font-family: "Mendl Serif Dusk Medium";
  src: url("../fonts/mendl_serif_dusk_med.ttf");
}
@font-face {
  font-family: "Mendl Serif Dusk Semibold";
  src: url("../fonts/mendl_serif_dusk_semb.ttf");
}
@font-face {
  font-family: "Mendel Bold";
  src: url("../fonts/mendl_serif_dusk_bold.ttf");
}
@font-face {
  font-family: "Wingdings";
  src: url("../fonts/wingdings.ttf");
}
@font-face {
  font-family: "Wingdings2";
  src: url("../fonts/wingdings2.ttf");
}
@font-face {
  font-family: "Wingdings3";
  src: url("../fonts/wingdings3.ttf");
}
@font-face {
  font-family: "D6Black";
  src: url("../fonts/d6_black.otf");
}
@font-face {
  font-family: "BBECOF2ICons";
  src: url("../fonts/bbe_cof2_icons_v1c.otf");
}
@font-face {
  font-family: "MinionPro";
  src: url("../fonts/minion-pro-regular.otf");
}
:root {
  --font-size-standard: 16px;
  --font-normal-style: normal;
  --font-normal-variant: normal;
  --font-normal-weight: normal;
  --line-height-standard: 1.2;
  --margin-standard: 0;
  --padding-standard: 10px;
  --orphans-standard: 1;
  --page-break-standard: auto;
  --text-align-standard: justify;
  --text-align-last-standard: left;
  --text-decoration-standard: none;
  --text-indent-standard: 10px;
  --widows-standard: 1;
  /* Surcharge des variables du système ou de Foudry */
  --font-primary: "Hypatia", serif;
  --font-secondary: "Mendel", sans-serif;
  --background-standard: no-repeat url("/modules/cof-base/assets/artwork/background.webp");
  --background-image-standard: url("/modules/cof-base/assets/artwork/background.webp");
  --background-chat-image: url("/modules/cof-base/assets/artwork/background.webp");
}
.journal-cof-base .journal-entry-content {
  background: url("../assets/artwork/background.webp");
}
.journal-cof-base .journal-entry-content .journal-header {
  font-family: "Mendel Semibold", sans-serif;
}
.journal-cof-base .journal-entry-content .journal-header input {
  border: none;
  background-image: url("../assets/artwork/background.webp");
}
.journal-cof-base .journal-entry-content .journal-entry-pages {
  background-image: url("../assets/artwork/background.webp");
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-header h1 {
  color: #ba9442;
  font-family: "Mendl Serif Dusk", serif;
  font-size: calc(var(--font-size-standard) * 2.2);
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding-bottom: 20px;
  margin-top: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base body,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base div,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base dl,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base dt,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base dd,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h1,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h2,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h3,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h4,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base pre,
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base code {
  margin: 0;
  padding: 0;
  border-width: 0;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h2 {
  font-size: calc(var(--font-size-standard) * 1.8);
  font-family: "Mendel Semibold", sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: #555756;
  margin: 0 0 10px 10px;
  padding-top: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h3 {
  font-size: calc(var(--font-size-standard) * 1.6);
  font-family: "Matrix", sans-serif;
  text-align: left;
  font-weight: bold;
  color: #b99442;
  margin: 0 0 10px 10px;
  padding-top: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h4 {
  font-size: calc(var(--font-size-standard) * 1.4);
  font-family: "Mendel Semibold", sans-serif;
  text-align: left;
  font-weight: bold;
  color: #474846;
  margin: 0 0 10px 10px;
  padding-top: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h5 {
  font-size: calc(var(--font-size-standard) * 1.2);
  font-family: "Mendel Semibold", sans-serif;
  text-align: left;
  font-weight: bold;
  color: #474846;
  margin: 10px 0 10px 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .image-large {
  border: none;
  padding: 20px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .image-moyenne {
  border: none;
  padding: 20px;
  width: 70%;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .image-petite {
  border: none;
  padding: 20px;
  width: 40%;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p {
  font-size: 1rem;
  font-family: "Hypatia";
  text-indent: 0.2cm;
  text-align: justify;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base li {
  font-size: 1rem;
  font-family: "Hypatia";
  text-align: justify;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p.alinea::first-letter {
  text-transform: uppercase;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p.alinea::after {
  content: "\A\A";
  white-space: pre;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .italique {
  text-align: justify;
  font-style: italic;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .gras {
  text-align: justify;
  font-weight: bold;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .droite {
  text-align: right;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .centre {
  text-align: center;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .citation {
  font-size: calc(var(--font-size-standard) * 2);
  font-family: Alana, serif;
  text-align: center;
  color: #626463;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .titre {
  font-size: calc(var(--font-size-standard) * 3.5);
  font-family: "Mendel Semibold", sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: #b99442;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .lettrine {
  font-size: calc(var(--font-size-standard) * 3.5);
  font-family: "Mendel Semibold", sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: #b99442;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .dice {
  color: #cbad70;
  font-family: D6Black, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart {
  border: 3px solid #b99442;
  font-size: calc(var(--font-size-standard));
  font-family: "Hypatia";
  text-indent: 0.2cm;
  text-align: justify;
  margin: 20px;
  position: relative;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart h3 {
  font-size: calc(var(--font-size-standard) * 1.5);
  font-family: "Mendel Semibold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ba9442;
  background-color: #e2d2b0;
  margin: 0;
  padding: 5px 0 5px 0;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart p {
  padding: 0 10px 0 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart p:first-of-type {
  padding-top: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart p:last-of-type {
  padding-bottom: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart li {
  margin-bottom: 5px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 20px;
  /* Ajustez cette valeur selon la hauteur de votre image */
  background: url("../assets/artwork/tableau-bord-inferieur.webp") no-repeat center bottom;
  background-size: contain;
  /* Ou "cover" selon le rendu désiré */
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base blockquote {
  font-size: calc(var(--font-size-standard));
  font-family: "Hypatia";
  text-indent: 0.2cm;
  text-align: justify;
  color: #a88352;
  font-style: italic;
  padding-left: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base small {
  max-width: 25%;
  object-fit: contain;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .credits-titre {
  color: #12120d;
  font-family: "Hypatia Sans Pro", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.2);
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .credits-texte {
  color: #12120d;
  font-family: "Hypatia Sans Pro", sans-serif;
  font-size: calc(var(--font-size-standard));
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .alinea {
  margin-left: 3px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .exemple {
  font-style: italic;
  border-left: solid 2px #b99442;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .exemple .normal {
  font-style: normal;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .exemple:last-of-type {
  margin-top: 10px;
  margin-bottom: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base ul.exemple {
  font-style: italic;
  border-left: solid 2px #b99442;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base ul.exemple li {
  margin-left: 15px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .exposant {
  font-size: 58%;
  vertical-align: super;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base table.tableau {
  font-family: "Hypatia", sans-serif;
  border-collapse: collapse;
  border-color: #12120d;
  border-style: none;
  border-width: 0px;
  margin: 20px 0 30px 30px;
  width: 95%;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base table.tableau tr {
  border-bottom-color: #ba9442;
  border-bottom-width: 1px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base table.tableau td {
  text-align: center;
  vertical-align: middle;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base table.tableau tr.tableau-titre {
  background-color: #cbad70;
  color: #ffffff;
  font-size: 1.1rem;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base table.tableau tr.tableau-titre td {
  text-align: left;
  padding: 10px;
  letter-spacing: 2px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base table.tableau tr.entete {
  font-weight: bold;
  background-color: #eaddc3;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base table.tableau-simple {
  margin: 10px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base span.Emphasis--Technique- {
  font-family: "Mendl Serif Dusk SemiBold", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  text-transform: none;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h2.voie {
  color: #555756;
  font-family: "Mendl Serif Dusk Medium", serif;
  font-size: calc(var(--font-size-standard) * 1.8);
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h3.voie {
  color: #555756;
  font-family: "Mendl Serif Dusk Medium", serif;
  font-size: calc(var(--font-size-standard) * 1.6);
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 10px 25px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p.voie-titre-3 {
  background-color: #f1e8d6;
  color: #474847;
  font-family: "Mendl Serif Dusk SemiBold", serif;
  font-size: calc(var(--font-size-standard) * 1.2);
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 5px;
}
.journal-cof-base .journal-entry-content .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p.notes-asterisque {
  color: #ba9442;
  font-family: "Hypatia Sans Pro", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin: 0 10px 10px 10px;
}
