@font-face {
  font-family: "Alana";
  src: url("../fonts/alana.ttf");
}
@font-face {
  font-family: "Hypatia";
  src: url("../fonts/hypatia_sans_pro.otf");
}
@font-face {
  font-family: "Matrix";
  src: url("../fonts/matrix_iiot.ttf");
}
@font-face {
  font-family: "Mendel";
  src: url("../fonts/mendl_serif_dusk.ttf");
}
@font-face {
  font-family: "Mendel Medium";
  src: url("../fonts/mendl_serif_dusk_med.ttf");
}
@font-face {
  font-family: "Mendel Semibold";
  src: url("../fonts/mendl_serif_dusk_semb.ttf");
}
@font-face {
  font-family: "Mendel Bold";
  src: url("../fonts/mendl_serif_dusk_bold.ttf");
}
@font-face {
  font-family: "Wingdings2";
  src: url("../fonts/wingdings2.ttf");
}
:root {
  --font-size-standard: 16px;
  --font-normal-style: normal;
  --font-normal-variant: normal;
  --font-normal-weight: normal;
  --line-height-standard: 1.2;
  --margin-standard: 0;
  --padding-standard: 10px;
  --orphans-standard: 1;
  --page-break-standard: auto;
  --text-align-standard: justify;
  --text-align-last-standard: left;
  --text-decoration-standard: none;
  --text-indent-standard: 10px;
  --widows-standard: 1;
  /* Surcharge des variables du système ou de Foudry */
  --font-primary: "Hypatia", serif;
  --font-secondary: "Mendel", sans-serif;
  --background-standard: no-repeat url("/modules/cof-base/assets/artwork/background.webp");
  --background-image-standard: url("/modules/cof-base/assets/artwork/background.webp");
  --background-chat-image: url("/modules/cof-base/assets/artwork/background.webp");
}
.journal-cof-base .journal-header {
  font-family: "Mendel Semibold", sans-serif;
}
.journal-cof-base .journal-entry-pages {
  background-image: url("../assets/artwork/background.webp");
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-header h1 {
  color: #ba9442;
  font-family: "Mendl Serif Dusk", serif;
  font-size: calc(var(--font-size-standard) * 2.2);
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding-bottom: 20px;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base body,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base div,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base dl,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base dt,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base dd,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h1,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h2,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h3,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h4,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base pre,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base code {
  margin: 0;
  padding: 0;
  border-width: 0;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h2 {
  font-size: calc(var(--font-size-standard) * 2);
  font-family: "Mendel Semibold", sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: #555756;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h3 {
  font-size: calc(var(--font-size-standard) * 1.8);
  font-family: "Matrix", sans-serif;
  text-align: left;
  font-weight: bold;
  color: #b99442;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base h4 {
  font-size: calc(var(--font-size-standard) * 1.4);
  font-family: "Mendel Semibold", sans-serif;
  text-align: left;
  font-weight: bold;
  color: #474846;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p,
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base li {
  font-size: 1rem;
  font-family: "Hypatia";
  text-indent: 0.2cm;
  text-align: justify;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base p.alinea::after {
  content: "\A\A";
  white-space: pre;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .italique {
  text-align: justify;
  font-style: italic;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .gras {
  text-align: justify;
  font-weight: bold;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .droite {
  text-align: right;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .centre {
  text-align: center;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .citation {
  font-size: calc(var(--font-size-standard) * 2);
  font-family: Alana, serif;
  text-align: center;
  color: #626463;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .titre {
  font-size: calc(var(--font-size-standard) * 3.5);
  font-family: "Mendel Semibold", sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: #b99442;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .lettrine {
  font-size: calc(var(--font-size-standard) * 3.5);
  font-family: "Mendel Semibold", sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: #b99442;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart {
  border: 3px solid #b99442;
  font-size: calc(var(--font-size-standard));
  font-family: "Hypatia";
  text-indent: 0.2cm;
  text-align: justify;
  padding: 10px 5px 10px 5px;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .encart h3 {
  font-size: calc(var(--font-size-standard) * 2);
  font-family: "Mendel Semibold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #b99442;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base blockquote {
  font-size: calc(var(--font-size-standard));
  font-family: "Hypatia";
  text-indent: 0.2cm;
  text-align: justify;
  color: #a88352;
  font-style: italic;
  padding-left: 10px;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .small {
  max-width: 25%;
  object-fit: contain;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .credits-titre {
  color: #12120d;
  font-family: "Hypatia Sans Pro", sans-serif;
  font-size: calc(var(--font-size-standard) * 1.2);
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .credits-texte {
  color: #12120d;
  font-family: "Hypatia Sans Pro", sans-serif;
  font-size: calc(var(--font-size-standard));
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .alinea {
  margin-left: 3px;
}
.journal-cof-base .journal-entry-pages .journal-entry-page .journal-page-content .journal-page-cof-base .exposant {
  font-size: 58%;
  vertical-align: super;
}
