@font-face {
	font-family: "Alana";
	src: url("./fonts/alana.ttf");
}

@font-face {
	font-family: "Hypatia";
	src: url("./fonts/hypatia_sans_pro.otf");
}

@font-face {
	font-family: "Calibri";
	src: url("./fonts/calibri.ttf");
}

@font-face {
	font-family: "Matrix";
	src: url("./fonts/matrix_iiot.ttf");
}

@font-face {
	font-family: "Mendel";
	src: url("./fonts/mendl_serif_dusk.ttf");
}

@font-face {
	font-family: "Mendl Serif Dusk Medium";
	src: url("./fonts/mendl_serif_dusk_med.ttf");
}

@font-face {
	font-family: "Mendl Serif Dusk Semibold";
	src: url("./fonts/mendl_serif_dusk_semb.ttf");
}

@font-face {
	font-family: "Mendel Bold";
	src: url("./fonts/mendl_serif_dusk_bold.ttf");
}

@font-face {
	font-family: "Wingdings";
	src: url("./fonts/wingdings.ttf") format('truetype');
}

@font-face {
	font-family: "Wingdings2";
	src: url("./fonts/wingdings2.ttf") format('truetype');
}

@font-face {
	font-family: "Wingdings3";
	src: url("./fonts/wingdings3.ttf") format('truetype');
}

@font-face {
	font-family: "D6Black";
	src: url("./fonts/d6_black.otf");
}

@font-face {
	font-family: "BBECOF2ICons";
	src: url("./fonts/bbe_cof2_icons_v1c.otf");
}

@font-face {
	font-family: "MinionPro";
	src: url("./fonts/minion-pro-regular.otf");
}
